# Idea folder
.idea/

# Virtual environment
env/
venv/

event_datafile_new.csv
src/event_datafile_new.csv
*__init__.py*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Postgres volume backup
postgres-data/